---
layout: default
---

<div class="codes">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.codes.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Codes" }}</h2> -->
    <ul class="post-list">
        {%- for code in site.codes -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ code.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ code.url | relative_url }}">
                    {{ code.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

</div>
